<a href="#" class="back-to-index"><< Back to Index</a><br>

<h2><%= post.escape('title') %></h2>

<p>
  <%= post.escape('body') %>
</p>

<a href="#" class="edit-post-link">Edit Post</a>
<br>
<button class="delete-post">Delete Post</button>
