<a href="#">Back to Boards Index</a>

<h1><%= board.escape('title') %></h1>
<button  class="delete">Delete Board</button>

<br>
<ul class="lists-list"></ul>

<br>
<a href="#" class="new-list-form">+ New List</a>

<br>
<div class="list-form"></div>
