<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trello App</title>
  </head>
  <body>
    <h1>Trello App</h1>

    <div class="main-content"></div>
  </body>
</html>

<script>
  // boot the app when the document is ready
  $(TrelloApp.initialize);
</script>
